<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patients</title>
  </head>
  <body>
    <h1>Patient List</h1>
    <table>
      <thead>
        <tr>
          <th>Patient ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Gender</th>
          <th>Language</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in patients %}
        <tr>
          <td>{{ patient.patient_id }}</td>
          <td>{{ patient.first_name }}</td>
          <td>{{ patient.last_name }}</td>
          <td>{{ patient.date_of_birth }}</td>
          <td>{{ patient.gender }}</td>
          <td>{{ patient.language }}</td>
          <td>
            <a href="/delete_patient/{{ patient.patient_id }}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="/">Add New Patient</a>
  </body>
</html>
